<footer class="mt-auto py-3 bg-light">
  <div class="text-center">
    <span class="text-muted">©{{ currentYear }} developed by SzuPei Chen </span>
    <i class="fa-solid fa-heart fa-beat" style="color: gold;"></i>
  </div>
</footer>