<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-warning px-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">房產租賃管理系統</a>
      {{#if user}}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item d-inline-flex align-items-center">
            <span class="text-white nav-link mx-4">Hi, {{ user.name }}</span>
          </li>
          {{/if}}
          <div class="nav-item">
            {{#if user}}
            <a href="/users/logout"><button class="btn btn-outline-secondary my-sm-0 my-2">Logout</button></a>
            {{else}}
            <a href="/users/login"><button class="btn btn-outline-secondary my-sm-0 my-2">Login</button></a>           
            {{/if}}
          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>