<script>
  $(document).ready(function () {
    // 監聽income欄位的輸入值，自動計算年租金
    $('#income').on('input', function () {
      const income = parseFloat($(this).val());
      if (!isNaN(income)) {
        const annualIncome = income * 12;
        $('#annualIncome').val(annualIncome);
      } else {
        $('#annualIncome').val('');
      }
    })
    // 根據所選仲介自動帶入對應公司及電話
    $('#agencyId').change(function () {
      const selectedAgencyId = $(this).val();
      $.ajax({
        url: '/getAgencyDetail',
        method: 'GET',
        data: { agencyId: selectedAgencyId },
        success: function (res) { // 請求成功時發動此函數
          if (res === null) {
            $('#agencyCompany').val('');
            $('#agencyPhoneNumber').val('')
          } else {
            $('#agencyCompany').val(res.company);
            $('#agencyPhoneNumber').val(res.phoneNumber)
          }
        }
      })
    })
    // filter
  //  $.get('../partials/table-template.hbs', function (tableTemplate) {
    //  const template = Handlebars.compile(tableTemplate);
      const tableTemplate = $('#table-template').html();
    const template = Handlebars.compile(tableTemplate);
      $('#agencyFilter').change(function () {
        const selectedAgencyId = $(this).val();
        console.log('Selected Agency ID:', selectedAgencyId);
        $.ajax({
          url: '/unitsFilterByAgency',
          method: 'GET',
          data: { selectedAgencyId },
          success: function (data) {
            const tbody = $('table tbody');
            tbody.empty();
            if (data.length > 0) {
              // 如果有資料，使用 Handlebars 模板渲染表格
              const html = template({ units: data });
              tbody.append(html);
            } else {
              // 沒有資料時顯示提示訊息
              tbody.append('<tr><td colspan="8" class="text-center">沒有符合的單位。</td></tr>');
            }
          },
          error: function (err) {
            console.error('Failed to load units', err);
          }
          
      })
    })
  })
</script>