<div class="container">
  <form action="/units/{{unit.id}}?_method=PUT" method="POST">
    {{!-- 回首頁按鈕 --}}
    <div class="row my-3">
      <div class="col-5 col-sm-2">
        <a href="/" class="btn  btn-warning w-100">回首頁</a>
      </div>
      <div class="col-5 col-sm-2">
        <a href="/units/{{unit.id}}" class="btn btn-warning w-100">回detail</a>
      </div>
    </div>
    {{!-- page title --}}
    <div class="row">
      <h2 class="col">編輯房產資訊</h2>
    </div>
    {{!-- 資料修改區 --}}
    <div class="row">
      <div class="col">
        {{> units-form}}
      </div>
    </div>
    {{!-- 儲存按鈕 --}}
    <div class="row">
      <div class="col">
        <button class="btn btn-warning w-100" type="submit">儲存</button>
      </div>
    </div>
  </form>
</div>
{{!-- jQuery --}}
{{> jQuery-script}}