<script src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

{{!-- html --}}
<form action="/units/{{unit.id}}?_method=PUT" method="POST">
  <div>
    <a href="javascript:history.back()" class="btn btn-warning mb-3">回上頁</a>
  </div>
  <div>
    <h2 class="text-start ">編輯房產資訊</h1>
  </div>

  {{> units-form}}

  <div class="text-center">
    <button class="btn btn-warning mb-3 w-100 row" type="submit">儲存</button>
  </div>
</form>

{{!-- jQuery --}}
{{> jQuery-script}}