<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<a href="/" class="btn btn-warning mb-3 me-3 row">回上頁</a>

<form action="/units/new" method="POST">
  <table class="table">
    <tr class="table-secondary row">
      <th class="col-1">
        <label class="form-label" for="address">地址</label>
      </th>
      <th class="col-3">
        <input class="form-control" type="text" name="address" id="address" placeholder="Enter address" required>
      </th>
      <th class="col-1">
        <label class="form-label" for="income">月租金</label>
        </div>
      <th class="col-3">
        <input class="form-control" type="text" name="income" id="income" placeholder="Enter number">
      </th>
      <th class="col-1">
        <label class="form-label" for="annualIncome">年租金</label>
      </th>
      <th class="col-3">
        <input class="form-control" type="text" name="annualIncome" id="annualIncome"
          placeholder="Automatic calculation">
      </th>
    </tr>
    <tr class="row">
      <th class="col-1">
        <label class="form-label" for="startDate">租約起日</label>
      </th>
      <th class="col-3">
        <input class="form-control" type="date" name="startDate" id="startDate">
      </th>
      <th class="col-1">
        <label class="form-label" for="endDate">租約訖日</label>
      </th>
      <th class="col-3">
        <input class="form-control" type="date" name="endDate" id="endDate">
      </th>
      <th class="col-1">
        <label class="form-label" for="status"> 已出租 </label>
      </th>
      <th class="col-3">
        <input class="form-check-input" type="checkbox" name="status" id="status">
      </th>
    </tr>
    <tr class="row">
      <th class="col-1">
        <label class="form-label" for="agencyName">服務仲介</label>
      </th>
      <th class="col-3">
        <select class="form-select" aria-label="Agency selector" id="agencyName" name="agencyName">
          <option selected>選擇仲介</option>
          {{#each Agencies}}
          <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>
      </th>

      <th class="col-1">
        <label class="form-label" for="agencyCompany">仲介公司</label>
      </th>
      <th class="col-3">
        <input class="form-control" type="text" name="agencyCompany" id="agencyCompany">
      </th>

      <th class="col-1">
        <label class="form-label" for="address">仲介電話</label>
      </th>
      <th class="col-3">
        <input class="form-control" type="text" name="address" id="agencyPhoneNumber">
      </th>

    </tr>
    <tr class="row">
      <th class="col-1"><label class="form-label" for="note">備註</label>
      </th>
      <th class="col-11">
        <input class="form-control" type="text" name="unitsNote" id="unitsNote" placeholder="Enter note">
      </th>
    </tr>
  </table>
</form>

<div class="text-end">
  <a href="./units/{{ this.id }}" class="btn btn-warning mb-3 w-100 row">儲存</a>
</div>

{{!-- jQuery --}}
<script>  
  $(document).ready(function () {
    // 監聽income欄位的輸入值，自動計算年租金
    $('#income').on('input', function () {
      const income = parseFloat($(this).val());
      if (!isNaN(income)) {
        const annualIncome = income * 12;
        $('#annualIncome').val(annualIncome);
      } else {
        $('#annualIncome').val('');
      }
    })
    // 根據所選仲介自動帶入對應公司及電話
    $('#agencyName').change(function () {
      const selectedAgencyId = $(this).val();
      $.ajax({
        url: '/getAgencyDetail', 
        method: 'GET',
        data: { agencyId: selectedAgencyId }, 
        success: function (res) {
          if (res === null) {
            $('#agencyCompany').val('');
            $('#agencyPhoneNumber').val('')
          } else {
            $('#agencyCompany').val(res.company);
            $('#agencyPhoneNumber').val(res.phoneNumber)
          }
        }
      })
    })
  })
</script>